@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #FFFFFF;
  --card: #1a1a1a;
  --card-hover: #2a2a2a;
  --input: #2a2a2a;
  --border: #FFFFFF;
  --accent: #ffffff3b;
  --muted: #CCCCCC;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-hover: var(--card-hover);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-accent: var(--accent);
  --color-muted: var(--muted);
  --font-sans: var(--font-ibm-plex-arabic);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-ibm-plex-arabic), system-ui, sans-serif;
}
